@import "./assets/sass/card.scss";
@import "./assets/sass/custom.scss";
@import "./assets/sass/font.scss";
@import "./assets/sass/hero.scss";
@import "./assets/sass/slider.scss";
@import "./assets/sass/document.scss";
@import "./assets/sass/footer.scss";
@import "./assets/sass/loader.scss";
@import "./assets/sass/pdfLoader.scss";
@import "./assets/sass/youtube.scss";
@import "./assets/sass/animation.scss";
@import "./assets//sass/utilityclasses.scss";
@import "./assets//sass/mediaqueries.scss";
@import "./assets//sass/git.scss";
@import "./assets//sass/neotronic.scss";
@import "./assets//sass/pnf.scss";
@import "./assets//sass/essence.scss";
@import "./assets//sass/essenceLayout.scss";
@import "./assets//sass/homePage.scss";
