@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";
.card-section {
  .card {
    background: $secondary-color;
    border: 1px solid $secondary-color;
    position: relative;
    text-align: center;
    border-radius: 8px;
    padding: 21px 11px;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    .card_icon-banner {
      background: $white-color;
      width: 45px;
      height: 45px;
      display: flex;
      position: absolute;
      border-radius: 8px;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
      img {
        margin: auto;
        width: 30px;
      }
    }
    .card_icon {
      position: absolute;
      border-radius: 8px;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      img {
        width: 40px;
        border-radius: 6px;
      }
    }
    .svgIcon {
      position: absolute;
      border-radius: 8px;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      svg {
        color: $white-color;
        font-size: 1.5rem;
      }
    }
    .bg-bannner {
      background: $white-color;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      .pdf {
        transform: scale(0.6);
      }
      img {
        transform: scale(0.7);
      }
    }
  }
  .card_link {
    padding: 21px 39px 21px 12px;
    .card {
      padding-right: 61px !important;
      padding-left: 24px !important;
    }
  }
  .theme_dahwoo-card {
    background: #000000;
    border-radius: 20px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      color: #fff;
      font-size: 1.5rem;
    }
    // img {
    //   width: 24px;
    //   height: 24px;
    // }
  }
  .customCard_dahwoo {
    position: relative;
    img {
      height: 201.38px;
      width: 100%;
      position: relative;
      border-radius: 12px;
    }
    .customCard_dahwoo-bottom {
      box-shadow: 6.43px 7.66px 10px rgb(167 0 250 / 10%);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      border-radius: 0px 0px 12px 12px;
      padding: 24px;
      width: 100%;
      position: absolute;
      bottom: 3px;
      justify-content: space-between;
      display: flex;
      align-items: center;
      color: #fff;
      p {
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: $white-color;
      }
    }
  }
  p {
    color: $white-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 127.9%;
    text-decoration: none;
    z-index: 1;
    text-align: center;
  }
}
.theme-consmy {
  .card-section {
    .card {
      border: 0.6px solid $white-color;
    }
    .youtube {
      .card {
        border: 1px solid $black-color;
      }
    }
  }
}
.theme-phiverse,
.theme-dahwoo {
  .card-section {
    .card {
      background: #ffffff;
      box-shadow: 6.43px 7.66px 10px rgba(167, 0, 250, 0.1);
      border-radius: 20px;
      border: none;
      .bg-bannner {
        width: 44px;
        height: 44px;
        img {
          transform: scale(1);
        }
      }
    }
    p {
      font-weight: 700;
      font-size: 18px;
      @include media440 {
        font-size: 16px;
      }
      @include media390 {
        font-size: 15px;
      }
      @include media370 {
        font-size: 13px;
      }
    }
  }
}
.theme-etyne {
  .card-section {
    .card {
      background: $white-color;
      border: 1px solid #0e334c;
      box-shadow: 2px 3px 0px 2px #0e334c;
      border-radius: 4px;
      padding-left: 55px;
      padding-right: 24px;
      transition: 0.5s ease;
      p {
        font-family: "Quicksand";
        font-weight: 600;
        font-size: 18px;
        color: #222222;
      }
      .bg-bannner {
        background: transparent;
        img {
          transform: scale(1);
          width: 45px;
        }
      }
    }
    .card:hover {
      background: #0e334c;
      border: 1px solid #1d313e;
      box-shadow: 2px 3px 0px 2px #1d313e;
      p {
        color: $white-color;
      }
    }
    .customLinkCard {
      padding: 21px 11px;
    }
  }
}
.theme-riorpad,
.theme-buwayne {
  .card-section {
    .card {
      // padding-right: 72px;
      // padding-left: 24px;
      padding: 24px 72px 24px 24px;
      .card_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        svg {
          font-size: 1.5rem;
          color: #555e6e;
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
        }
        .icon {
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
        }
      }
    }
    .customLinkCard {
      padding: 21px 11px;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 18px;
      // color: #47556d;
    }
    .cardItem {
      .card {
        padding-left: 61px;
        padding-right: 24px;
      }
    }
  }
}
.theme-buwayne {
  .card-section {
    .card {
      .card_icon {
        svg {
          color: #60656b;
          box-shadow: -4px -4px 12px rgba(236, 236, 236, 0.05),
            4px 4px 12px rgba(0, 0, 0, 0.1);
        }
      }
      .svgIcon {
        svg {
          color: #60656b;
        }
      }
    }
    .card:hover {
      box-shadow: inset -6px -6px 16px 0 rgb(51 51 51 / 50%),
        inset 6px 6px 16px 0 rgb(0 0 0 / 50%);
      .card_icon {
        .icon {
          box-shadow: inset -6px -6px 16px 0 rgb(51 51 51 / 50%),
            inset 6px 6px 16px 0 rgb(0 0 0 / 50%);
        }
      }
      .content_operator-icon {
        box-shadow: inset -6px -6px 16px 0 rgb(51 51 51 / 50%),
          inset 6px 6px 16px 0 rgb(0 0 0 / 50%);
      }
    }
  }
}
.theme-riorpad {
  .card-section {
    .card {
      .card_icon {
        svg {
          color: #60656b;
          box-shadow: -4px -4px 12px rgba(236, 236, 236, 0.05),
            4px 4px 12px rgba(0, 0, 0, 0.1);
        }
      }
      .svgIcon {
        svg {
          color: #555e6e;
        }
      }
    }
    .card:hover {
      box-shadow: inset -6px -6px 16px 0 rgb(255 255 255 / 50%),
        inset 6px 6px 16px 0 rgb(209 205 199 / 50%);
      .card_icon {
        .icon {
          box-shadow: inset -6px -6px 16px 0 rgb(255 255 255 / 50%),
            inset 6px 6px 16px 0 rgb(209 205 199 / 50%);
        }
      }
      .content_operator-icon {
        box-shadow: inset -6px -6px 16px 0 rgb(255 255 255 / 50%),
          inset 6px 6px 16px 0 rgb(209 205 199 / 50%);
      }
    }
  }
  .neumorphic-btn {
    button {
      color: #555e6e;
    }
  }
}
.theme-neotronic {
  .card-section {
    .customCard_dahwoo {
      img {
        height: 280px;
        @include media574px {
          height: 100%;
        }
      }
    }
    .card {
      background: #323232;
      box-shadow: 1px 1px 10px #999999;
      border-radius: 5px;
      padding: 20px 20px;
      @include media400 {
        padding: 15px 20px;
      }
      .card_icon {
        filter: drop-shadow(1px 1px 10px #999999);
        border-radius: 5px;
        width: 45px;
        height: 45px;
        background: transparent;
        @include media400 {
          width: 40px;
          height: 40px;
        }
        img {
          width: 45px;
          @include media400 {
            width: 40px;
          }
          transform: scale(1);
        }
      }
      p {
        font-family: "Karla";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: $white-color;
        @include media474px {
          font-size: 14px;
        }
        .extra-btn {
          font-family: "Karla";
          font-style: normal;
          font-weight: 500;
          font-size: 28px;
          line-height: 32px;
          color: $white-color;
          @include media474px {
            font-size: 18px;
          }
        }
      }
    }
  }
}
.theme-essence {
  .social_media-icon {
    width: 70px;
    height: 70px;
    background: $white-color;
    border-radius: 11.83px;
    color: $black-color;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    @include media474px {
      width: 60px;
      height: 60px;
    }
  }
  .customCard_dahwoo-bottom {
    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: #fff;
      text-align: start;
      margin-bottom: 13px;
    }
  }
  .customLinkCard {
    img {
      height: 210px;
      border-radius: 6px;
      @include media474px {
        height: 100%;
      }
    }
    .customCard_dahwoo-bottom {
      flex: 1 1;
    }
  }
}
