@import "./font";
@import "./mediaqueries.scss";

$primary-color: #000000;
$secondary-color: #151515;
$white-color: #fff;
$black-color: #000;
$blue: #00204c;
$neumorphic-whiteGray: #d6e5f6;
$neumorphic-lightwhiteGray: #eaf2f9;
$fontCairo: "Cairo", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body:has(.flax)::-webkit-scrollbar {
  width: 0px;
}
.flax {
  width: 100%;
  height: 100vh;
  border: none;
}
#root {
  background: #efefef;
}

#root:has(.theme-riorpad),
#root:has(.theme-buwayne) {
  background: #fff;
}

#root:has(.theme-consmy) {
  background: #252525;
}

.main-container {
  max-width: 25rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}
.main-container.theme-dahwoo {
  background: #efefef;
  max-width: 430px;
  .container {
    margin: 0 20px;
  }
}
.main-container.theme-etyne {
  background: #fbfbfd;
  max-width: 430px;
  .container {
    margin: 0 20px;
  }
}
.main-container.theme-bonton {
  background: #5c5c5c;
  max-width: 768px;
  .container {
    margin: 0 56px;
  }
}
.main-container.theme-phiverse {
  background: #f5f5f7;
}
.main-container.theme-riorpad,
.main-container.theme-buwayne {
  background: #fff;
  border-radius: 25px;
  max-width: 430px;
  @include media574px {
    border-radius: 0px;
  }
}

.container {
  margin: 0 20px;
}
.main-container.theme-riorpad,
.main-container.theme-buwayne {
  .container {
    margin: 0 20px;
  }
}
.theme-riorpad {
  .neumorphic {
    box-shadow: 4px 4px 12px rgb(236 236 236 / 15%),
      -4px -4px 12px rgb(0 0 0 / 5%);
    background: $white-color;

    .neumorphic_layer2 {
      background: #d6e5f6;
      .neumorphic_layer3 {
        background: #eaf2f9;
        .primary_container {
          background: #eaf2f9;
        }
      }
    }
  }
}
.neumorphic-container {
  @include media574px {
    border-radius: 0px !important;
  }
}
.theme-buwayne {
  .neumorphic {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15),
      -4px -4px 12px rgba(236, 236, 236, 0.05);
    background: #60656b;
    .neumorphic_layer2 {
      background: #111315;
      .neumorphic_layer3 {
        background: #202427;
        .primary_container {
          background: #202427;
        }
      }
    }
  }
}
.primary_container {
  width: 100%;
  // height: 100vh;
  background: #efefef;
  overflow-y: auto;
}
.primary_container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.theme-consmy {
  .primary_container {
    background: #252525;
  }
}
.theme-riorpad,
.theme-buwayne {
  .extra-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    // color: #47556d;
  }
  .primary_container {
    height: 100%;
  }
}

button {
  background: transparent;
  border: none;
}
button:active,
button:hover,
button:focus,
button:focus-visible {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
pre {
  font-family: $fontCairo;
  font-size: 16px;
  color: $primary-color;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}
pre {
  white-space: pre-wrap;
}

h1 {
  color: $primary-color;
  font-style: normal;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
.theme-phiverse {
  h1 {
    font-weight: 700;
    font-size: 28px;
    font-family: "Quicksand", sans-serif;
  }
}

.theme-riorpad,
.theme-buwayne {
  h1 {
    font-family: "Cairo";
    font-weight: 600;
    font-size: 28px;
    color: #2d3b54;
  }
  h2 {
    font-family: "Cairo";
    font-weight: 500;
    font-size: 16px;
    color: #2d3b54;
  }
  h3 {
    font-family: "Cairo";
    font-weight: 400;
    font-size: 16px;
    color: #2d3b54;
  }
}
.theme-etyne {
  h1 {
    font-family: "Quicksand";
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: $black-color;
  }
  h2 {
    font-family: "Quicksand";
    line-height: 22px;
  }
  h3 {
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 16px;
  }
}

h2 {
  color: $primary-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
h3 {
  color: $primary-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}
.theme-phiverse,
.theme-dahwoo {
  h2 {
    font-weight: 700;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
  }
}
h4 {
  color: #222;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
}
p {
  color: $white-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 127.9%;
  text-align: left;
}
.theme-phiverse,
.theme-dahwoo,
.theme-dahwoo {
  p {
    font-weight: 600;
    font-size: 15px;
    font-family: "Open Sans";
  }
}
pre {
  color: $white-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 127.9%;
  text-align: left;
  overflow: hidden;
}
a {
  color: $white-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
}

.theme-phiverse,
.theme-dahwoo {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  pre,
  p {
    color: $blue;
  }
}
.theme-buwayne {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  pre,
  p,
  .extra-btn {
    color: $white-color;
  }
}
.theme-riorpad {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  pre,
  p,
  .extra-btn {
    color: #47556d;
  }
}

.theme-consmy {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  pre {
    color: $white-color;
  }
}

.download {
  display: flex;
  .download_btn {
    background: rgba(167, 0, 250, 0.3);
    box-shadow: 6.43px 7.66px 10px rgb(167 0 250 / 10%);
    border-radius: 20px;
    margin: auto;
    text-align: center;
    margin-top: 18px;
    font-weight: 700;
    font-size: 18px;
    color: $white-color;
    padding: 12px 72px;
    border: none;
  }
}

.theme-shencho,
.theme-consmy {
  .download {
    display: flex;
    background: #151515;
    padding-bottom: 18px;
    border-radius: 0px 0px 11px 11px;
    .download_btn {
      background: $white-color;
      box-shadow: none;
      color: $black-color;
    }
  }
}

.testbita {
  height: 100%;
  transition: height 3000ms ease-in-out;
}

.theme-dahwoo {
  h1 {
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 28px;
    color: $black-color;
  }
  h2 {
    font-family: "Quicksand";
    font-weight: 400;
    font-size: 16px;
    color: $black-color;
  }
  h3 {
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 16px;
    color: $black-color;
  }
}
.social_media {
  img {
    height: 38px;
    width: 38px;
  }
}
.h-100vh {
  height: 100vh;
}
.soundcloud {
  iframe {
    border-radius: 16px;
  }
}
