@import "./font.scss";
@import "./custom.scss";
@import "./mediaqueries.scss";
.footer {
  margin-top: 80px;
  margin-bottom: 24px;
  .caardClub {
    display: inline-flex;
    margin: auto;
    background: $white-color;
    border-radius: 10px;
    align-items: center;
    padding: 7px 14px;
    height: 100%;
    box-shadow: 6.43px 7.66px 10px rgb(167 0 250 / 10%);
    img {
      margin-right: 0.7rem;
    }
  }
  P {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #434343;
    span {
      font-weight: 600;
    }
    @include media400 {
      font-size: 12px;
    }
  }
}

.theme-consmy,
.theme-buwayne {
  .footer {
    .caardClub {
      p {
        color: #141414;
      }
    }
    p {
      color: $white-color;
    }
  }
}
.theme-phiverse,
.theme-dahwoo {
  .footer {
    .caardClub {
      width: 208px;
    }
  }
}
.theme-consmy,
.theme-riorpad,
.theme-buwayne {
  .footer {
    .caardClub {
      box-shadow: unset;
    }
  }
}
.theme-essence {
  .footer {
    h3 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #fff;
      margin-top: 16px;
      text-align: center;
    }
    h5 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 21px;
      text-align: center;
      color: #fff;
      margin-top: 4px;
      margin-bottom: 24px;
      text-align: center;
      a {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
        display: inline;
        color: #fff;
      }
    }
  }
}
