@import "./custom.scss";
@import "./utilityclasses.scss";
@import "./font.scss";
.neotronic {
  .heroBar {
    position: absolute;
    bottom: -110px;
    padding: 24px 0px 16px;
    width: calc(100% - 112px);
    left: 50%;
    transform: translateX(-50%);
    background: #323232;
    box-shadow: 1px 1px 10px #999999;
    border-radius: 12px;
    @include media574px {
      width: calc(100% - 32px);
    }
    @include media474px {
      bottom: -165px;
    }
    @include media390 {
      bottom: -200px;
    }
    @include media364 {
      bottom: -240px;
    }
    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      color: $white-color;
    }
    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: $white-color;
    }
    h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 24px;
      color: $white-color;
    }
    .heroIcon {
      margin-top: 40px;
      .social_media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-top: 1px solid #f5f7fa;
        padding-top: 9px;
        padding-inline: 1rem;
      }
    }
    .heroBar-image {
      position: absolute;
      top: -53px;
      right: 32px;
      @include media474px {
        left: 24px;
      }
      img {
        border-radius: 50%;
        width: 90px;
        height: 90px;
      }
    }
  }
  .neotronicBanner {
    margin-bottom: 133px;
    @include media474px {
      margin-bottom: 175px;
    }
    @include media390 {
      margin-bottom: 210px;
    }
    @include media364 {
      margin-bottom: 250px;
    }
  }
  .noBanerHeroBar {
    position: unset;
    width: 100%;
    transform: unset;
    margin-top: 4rem;
    .heroBar-image {
      right: 95px;
      @include media574px {
        left: 43px;
      }
    }
  }

  .neotronicIcon {
    svg {
      font-size: 1.5rem;
      color: #efefef;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
}
.theme-etyne {
  .neotronicIcon {
    svg {
      color: #0e334c;
      font-size: 2rem;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
}
