.pdf-loader {
  background: $white-color;
  height: 50vh;
  border: solid $blue;
  word-break: keep-all;
  border-width: 0px 2px 2px 2px;
  .loading {
    border: 2px solid #ddd;
    border-top: 2px solid $black-color;
  }
}
.theme-consmy {
  .pdf-loader {
    border: solid $white-color;
  }
}

.rpv-core__page-layer {
  .rpv-core__spinner {
    display: none;
  }
}

.rpv-core__doc-loading {
  height: 300px;
  position: absolute;
  z-index: 4;
  background: #fff !important;
  width: 100%;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  .rpv-core__spinner {
    display: block;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    border: 2px solid #ddd;
    border-top: 2px solid $black-color;
    margin: 1rem auto;
    animation: loader 1.25s infinite linear;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
