@import "./font.scss";
@import "./custom.scss";
@import "./mediaqueries.scss";
.main-container:has(.pnf_section) {
  max-width: 768px;
  background: transparent;
}
#root:has(.pnf) {
  background: #fff;
}
.pnf {
  h1 {
    color: #7d7d7d;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-top: 1.5rem;
  }
  h2 {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #7d7d7d;
    margin-top: 8px;
    a {
      font-family: "Open Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: #555e6e;
      text-decoration-line: underline;
    }
  }

  .pnf_link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
    @include media400 {
      gap: 1rem;
    }
    img {
      @include media400 {
        width: 90%;
      }
    }
  }
  .pnf_footer {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    .footer {
      margin-top: 40px;
      p {
        color: $white-color;
      }
    }
    .PageNotFound_footer {
      @include media390 {
        position: unset;
        transform: unset;
        width: unset;
      }
    }
  }
}
// .pnf {
//   background-image: url("../images/15151445_5559852.jpg");
//   height: 100vh;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   h1 {
//     font-family: "Ubuntu", sans-serif;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 32px;
//     line-height: 36px;
//     margin-top: 1.5rem;
//     color: #010718;
//     overflow: hidden;
//     .pnf_animationTest_first {
//       color: $white-color;
//     }
//     .pnf_animationTest_sec {
//       overflow: hidden;
//       animation: animeText 4s steps(16) infinite;
//       position: relative;
//       display: inline-block;
//       span {
//         position: relative;
//         width: 330px;
//         display: block;
//       }
//     }

//     @keyframes animeText {
//       0%,
//       90%,
//       100% {
//         width: 0;
//       }
//       30%,
//       60% {
//         width: 330px;
//       }
//     }

//     .pnf_animationTest_sec::before {
//       content: "";
//       position: absolute;
//       top: 0;
//       right: 0;
//       height: 100%;
//       width: 2px;
//       background: #e9f3fc;
//       animation: blinkCursor 8s steps(3) infinite;
//     }
//     @keyframes blinkCursor {
//       0%,
//       75% {
//         opacity: 1;
//       }
//       76%,
//       100% {
//         opacity: 0;
//       }
//     }
//   }
//   h2 {
//     font-family: "Ubuntu", sans-serif;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 20px;
//     line-height: 24px;
//     color: #ffffff;
//     margin-top: 8px;
//     a {
//       color: #555e6e;
//       font-family: "Open Sans";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 14px;
//       line-height: 24px;
//       text-decoration-line: underline;
//     }
//   }
//   .pnf_link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 3rem;
//     gap: 1rem;
//     @include media400 {
//       gap: 1rem;
//     }
//   }
//   .pnf_footer {
//     position: absolute;
//     bottom: 0px;
//     left: 50%;
//     transform: translate(-50%);
//     .footer {
//       margin-top: 40px;
//       p {
//         color: $white-color;
//       }
//     }
//     .PageNotFound_footer {
//       @include media390 {
//         position: unset;
//         transform: unset;
//         width: unset;
//       }
//     }
//   }
// }
